# Introduction to Python programming language

Python is a modern, robust, high level programming language. It is very easy to pick up even if you are completely new to programming. Mac OS X and Linux comes pre installed with python. Windows users can download python from https://www.python.org/downloads/.

(reference : https://github.com/rajathkumarmp/Python-Lectures)

### Hello World !
This is a simple script of how Jupyter Notebook works

In [1]:
print("Hello World")

Hello World

### Variable 
A name that is used to denote something or a value is called a variable. In python, variables can be declared and values can be assigned to it as follows,

In [2]:
me = "Muzzammil Fadli"

print(me)

Muzzammil Fadli

Remember that 'me' is variable name. Value in variable name can change everytime.

In [3]:
name = "Fadli"

print(name)

Fadli

We also can give some value in variable.

In [4]:
a, b, c = 0, 1.2, "Hello!!!"

print(a)
print(b)
print(c)

0
1.2
Hello!!!

Multiple variables can be assigned with the same value.

In [5]:
x = y = 1
print(x,y)

1 1

### Operators

1. Arithmetic Operators

| Symbol | Task Performed |
|----|---|
| +  | Addition |
| -  | Subtraction |
| /  | division |
| %  | mod |
| *  | multiplication |
| //  | floor division |
| **  | to the power of |

In [6]:
1+1+2-3

1

In [7]:
2*3/6

1.0

In [8]:
4**2

16

In [9]:
1/2

0.5

In [10]:
15%9

6

In [11]:
2.8//2.0

1.0

2. Relational Operators

| Symbol | Task Performed |
|----|---|
| == | True, if it is equal |
| !=  | True, if not equal to |
| < | less than |
| > | greater than |
| <=  | less than or equal to |
| >=  | greater than or equal to |

In [12]:
y = 2
z = 3

In [13]:
y == z

False

In [14]:
y < z

True

3. Bitwise Operators

| Symbol | Task Performed |
|----|---|
| &  | Logical And |
| l  | Logical OR |
| ^  | XOR |
| ~  | Negate |
| >>  | Right shift |
| <<  | Left shift |

In [15]:
a = 4
b = 3

In [16]:
print(a & b)
print(bin(a&b))

0
0b0

In [17]:
5 >> 1

2

0000 0101 -> 5 

Shifting the digits by 1 to the right and zero padding

0000 0010 -> 2

In [18]:
5 << 1

10

0000 0101 -> 5 

Shifting the digits by 1 to the left and zero padding

0000 1010 -> 10