# Data Types
This is some types of data in python.

(reference : https://github.com/rajathkumarmp/Python-Lectures)

### 1. Numbers
- Integer
- Float

In [1]:
a1 = 5
print(a1, type(a1))

a2 = 5.0
print(a2, type(a2))

5 <class 'int'>
5.0 <class 'float'>

### 2. Boolean
True or False?

In [2]:
b = 5>6
print(b, type(b))

False <class 'bool'>

### 3. String
Strings are ordered text based data which are represented by enclosing the same in single/double/triple quotes.

In [3]:
b = "string"
c = "This is a string"
print(c, type(c))

This is a string <class 'str'>

### 3.1 Built-in String Functions
**capitalize( )** is used to capitalize the first element in the string.

In [4]:
print(b.capitalize())

String

**center( )** is used to center align the string by specifying the field width.

In [5]:
c.center(70)

'                           This is a string                           '

One can also fill the left out spaces with any other character.

In [6]:
c.center(70,'-')

'---------------------------This is a string---------------------------'

**count( )** function counts the number of char in the given string. The start and the stop index can also be specified or left blank. (These are Implicit arguments which will be dealt in functions)

In [7]:
print(c.count('a',0))
print(c.count('a',5,10))

1
1

**upper( )** converts any small letter to capital letter.

In [8]:
c.upper()

'THIS IS A STRING'

**lower( )** converts any capital letter to small letter.

In [9]:
c.lower()

'this is a string'

**replace( )** function replaces the element with another element.

In [10]:
c.replace('string','table')

'This is a table'

### 4. List
Let's consider now what happens when we use a Python data structure that holds many Python objects. The standard mutable multi-element container in Python is the list. We can create a list of integers as follows:

In [11]:
l = list(range(10))
l

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [12]:
type(l)

list

In [13]:
type(l[0])

int

In [14]:
# list of integers
v = [10,20,30,40,50,60,70,80,90]
print(v, type(v[0]))

# list of string
name = ['Anton','Budi','Citra','Desy']
print(name, type(name[0]))

# list of mixed data type
mix = ['Fadli',2.5, 90]
print(mix, type(mix[0]), type(mix[1]), type(mix[2]))

[10, 20, 30, 40, 50, 60, 70, 80, 90] <class 'int'>
['Anton', 'Budi', 'Citra', 'Desy'] <class 'str'>
['Fadli', 2.5, 90] <class 'str'> <class 'float'> <class 'int'>

### 4.1 Index List
In python, Indexing starts from 0. Thus now the list v, which has two elements will have 10 at 0 index and 20 at 1 index.

| 10 | 20 | 30 | 40 | 50 | 60 | 70 | 80 | 90 |
|----|----|----|----|----|----|----|----|----|
| 0 | 1 | 2 | 3 | 4 | 5 | 6 | 7 | 8 | 9 |

In [15]:
print(v[0])
print(v[1])

10
20

Indexing can also be done in reverse order. That is the last element can be accessed first. Here, indexing starts from -1. Thus index value -1 will be 90 and index -2 will be 80.

In [16]:
print(v[-1])
print(v[-2])

90
80

### 4.2 Slicing List
Indexing was only limited to accessing a single element, Slicing on the other hand is accessing a sequence of data inside the list. In other words "slicing" the list.

Slicing is done by defining the index values of the first element and the last element from the parent list that is required in the sliced list. It is written as parentlist [a:b] where a,b are the index values from the parent list. If a or b is not defined then the index value is considered to be the first value for a if a is not defined and the last value for b when b is not defined.

In [17]:
# 3rd element until 5th element
print(v[2:5])

[30, 40, 50]

We can also slice a parent list with a fixed length or step length.

In [18]:
print(v[::2])

[10, 30, 50, 70, 90]

### 4.3 Built-in List Functions
To find the length of the list or the number of elements in a list, **len( )** is used.

In [19]:
len(v)

9

If the list consists of all integer elements then **min( )** and **max( )** gives the minimum and maximum value in the list.

In [20]:
max(v)
min(v)

10

A string can be converted into a list by using the **list()** function.

In [21]:
list('hello')

['h', 'e', 'l', 'l', 'o']

**append( )** is used to add a element at the end of the list.

In [22]:
v.append(100)
print(v)

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

### 5. Tuple

Tuples are similar to lists but only big difference is the elements inside a list can be changed but in tuple it cannot be changed. Values can be assigned while declaring a tuple. It takes a list as input and converts it into a tuple or it takes a string and converts it into a tuple.

In [23]:
tuple1 = tuple([1,2,3])
print(tuple1, type(tuple1))
tuple2 = tuple('Hello')
print(tuple1, type(tuple1))

(1, 2, 3) <class 'tuple'>
(1, 2, 3) <class 'tuple'>

It follows the same indexing and slicing as Lists.

In [24]:
tuple3 = tuple2[:3]
print(tuple1[1])
print(tuple3)

2
('H', 'e', 'l')

### 6. Sets
Sets are mainly used to eliminate repeated numbers in a sequence/list. It is also used to perform some standard set operations. Sets are declared as set() which will initialize a empty set. Also set([sequence]) can be executed to declare a set with elements

In [25]:
set0 = set([1,2,2,3,3,4])
print(set0, type(set0))

{1, 2, 3, 4} <class 'set'>

elements 2,3 which are repeated twice are seen only once. Thus in a set each element is distinct.

### 7. Dictionary
To define a dictionary, equate a variable to { } or dict()

In [26]:
d0 = {}
d1 = dict()
print(type(d0), type(d1))

<class 'dict'> <class 'dict'>

Dictionary works somewhat like a list but with an added capability of assigning it's own index style.

In [28]:
d0['One'] = 1
d0['OneTwo'] = 12 
print(d0)

{'One': 1, 'OneTwo': 12}

That is how a dictionary looks like. Now you are able to access '1' by the index value set at 'One'

In [29]:
print(d0['One'])

1

Two lists which are related can be merged to form a dictionary.

In [30]:
names = ['One', 'Two', 'Three', 'Four', 'Five']
numbers = [1, 2, 3, 4, 5]

**zip( )** function is used to combine two lists.

In [35]:
d2 = zip(names,numbers)
print(d2)

<zip object at 0x030A9468>

The two lists are combined to form a single list and each elements are clubbed with their respective elements from the other list inside a tuple. Tuples because that is what is assigned and the value should not change.

Further, To convert the above into a dictionary. **dict( )** function is used.

In [36]:
a1 = dict(d2)
print(a1)

{'One': 1, 'Two': 2, 'Three': 3, 'Four': 4, 'Five': 5}